{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-4 d-flex justify-content-center mt-4">
        <div class="col-md-7">
            <img src="{{ item.image.url }}" class="rounded img-fluid object-fit-cover" width="500px">
        </div>
        <div class="col-md-5 p-4 rounded p-4">
            <h1 class="mb-4 h3">{{ item.name }}</h1>
            <p class="text-muted"><strong>Price: </strong>${{ item.price }}</p>
            <p class="text-muted"><strong>Seller: </strong>{{ item.created_by.username }}</p>
    
            {% if item.description %}
                <p class="text-dark">
                    <strong class="text-muted">Description: </strong><br>{{ item.description }}
                </p>
            {% endif %}
    
            {% if request.user == item.created_by %}
                <a href="{% url 'item:edit' item.id %}" class="btn btn-secondary px-4 me-1">Edit</a>
                <a href="{% url 'item:delete' item.id %}" class="btn btn-danger" onclick="return confirm('Are you sure to want to delete?')">Delete</a>
            {% else %}
                <a href="#" class="btn btn-success">Contact Seller</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="mt-4 p-4 bg-light rounded">
    <h2 class="mb-4 text-center h4">Related items</h2>

    <div class="row g-3 m-3">
        {% for item in related_items %}
            <div class="col-md-3">
                <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                    <div class="card">
                        <img src="{{ item.image.url }}" class="img-fluid rounded-top" width="300px">
                        <div class="card-body bg-white rounded-bottom">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text text-muted">Price: ${{ item.price }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
