{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="container-fluid bg-light vh-100">
        <div class="row d-flex justify-content-center p-5">
            <div class="col-5 mt-3">
                <form action="{% url 'item:items' %}" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control shadow-none" placeholder="Search by item name or description" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="input-group-text" id="basic-addon2">Search</button>
                      </div>
                </form>
            </div>

        <div class="row mt-5">
            {% for item in items %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="{{ item.image.url }}" class="rounded-top" height="300px" alt="{{ item.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text text-muted">Price: ${{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        </div>
    </div>
{% endblock %}