{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="container-fluid" style="min-height: 800px;">
        <div class="row pt-5 pe-3 pe-lg-5 d-flex justify-content-end">
            <div class="col-md-6 col-lg-4">
                <form action="{% url 'item:items' %}" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control shadow-none" name="query" placeholder="Search by item name or description" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="input-group-text" id="basic-addon2">Search</button>
                      </div>
                </form>
            </div>

        <div class="row d-flex justify-content-center p-4 pe-5">
            <div class="col-6 col-md-2 border-end">
                <h4>Categories</h4>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li class="{% if category.id == category_id %} bg-secondary-subtle {% endif %} p-1">
                        <a href="{% url 'item:items' %}?query={{query}}&category={{category.id}}" class="text-decoration-none text-muted">
                            {{category.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <a href="{% url 'item:items' %}" class="btn btn-success">Clear Filter</a>
            </div>

            <div class="col-sm-10 mt-3">
                <div class="row ps-3">
                    {% for item in items %}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                            <div class="card h-100">
                                <img src="{{ item.image.url }}" class="rounded-top" height="300px" alt="{{ item.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <p class="card-text text-muted">Price: ${{ item.price }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}